.body{
  color: #4f527a;
}
.App {
  text-align: center;
  margin: 100px auto;
  color: #4f527a;
}
.error{
  color: red;
  text-align: center;
  height:30px ;
  width:200px;
  background-color: #67bcc6;
  }
.display{
  text-align: center;
  height:30px ;
  width:200px;
  background-color: #67bcc6;
}
.displayButton{
  text-align: center;
  height:30px ;
  width:200px
}
